<div class="container-fluid d-flex flex-column h-100">
  <div class="row bg-success">
    <div class="col">
      <app-topbar></app-topbar>
    </div>
  </div>
  <div class="row bg-info flex-grow-1 d-flex justify-content-start">
<!--    <div class="col-lg-3 col-sm-4 p-0">-->
<!--      <app-navbar></app-navbar>-->
<!--    </div>-->
    <div class="col">
      <app-home></app-home>
    </div>
  </div>
  <div class="row bg-danger">
    <div class="col">
      <app-bottombar></app-bottombar>
    </div>
  </div>
</div>
