<div class="container d-flex h-100 flex-column">
  <div class="row h-25 text-center m-5">
    <div class="col">
      <span class="display-3">Welcome Cody Mullin</span>
    </div>
  </div>
  <div class="row flex-grow-1 d-flex">
    <div class="col">
      <div class="container-fluid h-100 text-center">
        <div class="row h-50 justify-content-center">
          <div class="col-4">
            <app-button label="TV" imageSrc="/assets/images/icons8-tv-48.png"></app-button>
          </div>
          <div class="col-4">
            <app-button label="Files" imageSrc="/assets/images/icons8-document-48.png"></app-button>
          </div>
        </div>
        <div class="row h-50 justify-content-center">
          <div class="col-4">
            <app-button label="Start Conference" switchable="true" active="true" imageSrc="/assets/images/icons8-video-message-48.png"></app-button>
          </div>
          <div class="col-4">
            <app-button label="Start Meeting" imageSrc="/assets/images/icons8-conference-foreground-selected-48.png"></app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
